div.tooltip {   
 	position: absolute;           
	text-align: left;           
	width: 400px;                  
	height: auto;     
	padding: 1%;                              
	background: white;   
	border: solid 1px lightgrey;   
	border-radius: 8px;           
	pointer-events: none;         
}

div#victims {
	font: 22px sans-serif; 
	line-height: 30px;
}

div#context {
	font: 16px sans-serif;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 3%;
}

div#description {
	font: 14px sans-serif;
	line-height: 20px;
	text-align: justify;
}
              
.legend {
	font: 11px sans-serif;
	/* position:; */
	left:800px;
	top:350px;
}

path:hover {
	fill-opacity: .7;
}
